body {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

#imagem-receita {
    max-width: 500px;
}

#imagem-receita img {
    height: 400px;
    border-radius: .5rem;
}